<div
        class="iwa-form-field-input"
        id="{{ id }}__formfieldinput"
        data-iwa-input-name="{{ name }}"
        data-iwa-input-entityname="{{ entityname }}"
        data-iwa-input-entityclass="{{ entityclass }}"
>
    <div class="iwa-form-field-input-js"></div>

    <div class="iwa-form-field-input-widget">
        {{ input|raw }}
    </div>

</div>