<div
        class="iwa-form-field-input"
        id="{{ id }}-formfieldinput"
        data-iwa-input-name="{{ name }}"
        data-iwa-input-entityname="{{ entityName }}"
        data-iwa-input-entityclass="{{ entityClass }}"
>
    <div class="iwa-form-field-input-js"></div>

    <div class="iwa-form-field-input-main">
        {{ input|raw }}
    </div>

</div>