<div
        class="iwa-form-field mb-3"
        id="{{ id }}__formfield"
        data-iwa-field-name="{{ name }}"
        data-iwa-field-entityname="{{ entityName }}"
        data-iwa-field-entityclass="{{ entityClass }}"
        {{ field_style|raw }}
>
    <div
            class="iwa-form-field-label"
            {{ label_style|raw }}
    >
        <label id="{{ id }}__formfieldlabel" for="{{ id }}">
            <span class="iwa-form-field-label-text">{{ labeltext }}</span>&nbsp;<span class="iwa-form-field-label-star">*</span>
        </label>
    </div>

    <div class="iwa-form-field-description">
        <span class="form-text text-muted">{{ descriptiontext|raw }}</span>
    </div>

    <div class="iwa-form-field-widget">
        {{ inputs|raw }}
    </div>

    <div class="iwa-form-field-validate"></div>

</div>